{{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}
    <div class="text-center">
        <button type="submit" class="btn btn-outline-success">Registriraj me</button>
    </div>
{{ form_end(registrationForm) }}