{% extends 'base.html.twig' %}

{% block title %}Registracija{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/container40.css") }}">
{% endblock %}

{% block body %}
    <div class="container">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h2 class="text-center p-3 bg-light">
            <b>
                Registracija
            </b>
        </h2>
        {{ include('registration/_form.html.twig') }}
    </div>
{% endblock %}