.wrapper {
    position: relative;
    margin: 5% auto;
    border: 1px solid black;
}

.wrapper img {
    height: 100%;
    width: 100%;
}

.wrapper .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
}
