.ordering-vehicle-image img {
    width: 100%;
}

/* Laptop */
@media screen and (min-width: 1024px) {
    .ordering-vehicle-image img {
        height: 250px;
        width: 50%;
    }
}

/* Laptop L */
@media screen and (min-width: 1440px) {
    .container-fluid{
        width: 80%!important;
    }
    .ordering-vehicle-image img {
        height: 330px;
        width: 80%;
    }
}