.sold_vehicle-wrapper {
    width: 100%;
    height: 200px;
}

.sold_vehicle-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Mobile L */
@media screen and (min-width: 425px) {
    .sold_vehicle-wrapper {
        height: 275px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .sold_vehicle-wrapper {
        height: 150px;
    }
}

/* Laptop */
@media screen and (min-width: 1024px) {
    .sold_vehicle-wrapper {
        height: 225px;
    }
}

/* Laptop L */
@media screen and (min-width: 1440px) {
    .sold_vehicle-wrapper {
        height: 250px;
    }
}
