{% extends 'base.html.twig' %}

{% block title %}Sustav narudžbe vozila{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/ordering_vehicles.css") }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-sm-6">
                <h2 class="text-center p-3">
                    <b>
                        Vozila po sustavu narudžbe
                    </b>
                    <i class="far fa-clipboard"></i>
                </h2>
                <h6 class="mt-3 bg-light text-center p-3">
                    Imate vozilo koje Vam se sviđa, a nalazi se u EU
                    <i class="far fa-question-circle"></i>
                </h6>
                <h6 class="bg-light p-3 text-center">
                    <i class="fas fa-star"></i>
                    Nikakav problem, obratite nam se na naš
                    <a title="Pošalji email" href="mailto:pakteamauto@gmail.com">email</a>,
                    putem
                    <a href="{{ path('about_us') }}">kontakt telefona</a>,
                    ili nas posjetite na lokaciji
                    <b>Zagrebačka 87, 44330 Novska</b>
                    <br><br>
                    <i class="fas fa-star"></i>
                    U najkraćem mogućem roku obavijestit ćemo Vas o mogućnosti
                    nabavke traženog vozila i ostalim značajnim informacijama.
                </h6>
            </div>
            <div class="col-sm-6 ordering-vehicle-image">
                <img src="{{ asset('images/granicni_prijelaz.jpg')}}"
                     alt="pak-team_granicni_prijelaz"><img
                        src="{{ asset('images/transport.jpg') }}"
                        alt="pak-team_transport">
            </div>
        </div>
    </div>
{% endblock %}
