{% extends 'base.html.twig' %}

{% block title %}Dodavanje prodanih vozila{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/container50.css") }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center p-3 bg-light">
            <b>
                Dodavanje prodanih vozila
            </b>
        </h2>
         <a class="p-3" href="{{ path('vehicle_index') }}">
             <i class="fas fa-arrow-circle-left"></i>
             Pregled vozila
         </a>
        <div class="mt-2">
            {{ include('admin_panel/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
