{% extends 'base.html.twig' %}

{% block title %}Vozila u dolasku{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/incoming_vehicles.css") }}">
{% endblock %}

{% block body %}
    <div class="incoming-vehicles-wrapper"></div>
    <h2 class="text-center p-3 bg-light">
        <b>
            Vozila u dolasku
        </b>
    </h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="img-wrapper-incoming">
                    <img src="{{ asset("images/vozila_dolazak2.jpg") }}" alt="pak-team_vozila-u-dolasku2">
                </div>
            </div>
            <div class="col-sm-4 mt-2">
                <div class="box border border-success p-1">
                    <h6 class="text-center mt-3 p-3 bg-success text-white">
                        U svakom trenutku imamo od pet do deset automobila u dolasku.
                    </h6>
                    <h6 class="text-center bg-light p-3">
                        Ukoliko ste zainteresirani za određeni model vozila, informacije o narudžbi saznajte na
                        <a href="{{ path('ordering_vehicles') }}">poveznici</a>.
                    </h6>
                </div>
            </div>
            <div class="col-sm-4 text-center mt-2">
                <div class="img-wrapper-incoming">
                    <img src="{{ asset("images/vozila_dolazak1.jpg") }}" alt="pak-team_vozila-u-dolasku">
                </div>
            </div>
        </div>
    </div>
{% endblock %}


